.homepage{
    background: rgb(255,0,0);
    background: linear-gradient(150deg, rgba(255,0,0,1) 0%, rgba(0,209,255,1) 100%);
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    margin-top:70;

}
.homepagetop{
    margin-top: 20;
}
.ffclogo{
    margin-top: 5;
    width: 400
}
  
  img {
    width: 45%;
    height: 70%;
  }
.bowlingcover{
    margin-top: 70;
    width: 1950px;
    height: 832px;
}
.bowlpage{
    font-size: x-large;
    font-family: 'Acme', sans-serif;
    background: rgb(255, 174, 0);
    background: linear-gradient(150deg, rgb(255, 187, 0) 0%, rgb(77, 249, 255) 100%);
}

.skatepage{
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    background: rgb(255,230,0);
background: linear-gradient(150deg, rgba(255,230,0,1) 0%, rgba(219,0,255,1) 100%);
}
.skateimg{
    height: 1300px;
    width: 2500px;
}

.funcardpage{
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    background: rgb(255,230,0);
    background: linear-gradient(135deg, rgba(255,230,0,1) 0%, rgba(112,0,255,1) 100%);
}
.activitesinfo{
    margin-top:80;
    margin-left: auto;
    margin-right: auto;
}
img{
    border-radius: 5%;
}
.activitespage{
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    background: rgb(86,171,47);
    background: linear-gradient(140deg, rgba(86,171,47,1) 11%, rgba(168,224,99,1) 100%);
}
.bdaycontactpage{
    font-family: 'Acme', sans-serif;
    font-size: x-large;
    background: rgb(184,87,174);
    background: linear-gradient(130deg, rgba(184,87,174,1) 0%, rgba(0,209,255,1) 100%);
}
.bowlcard{
    margin-left: 30;
    background-color: white;
}
.bowlword{
    background: #00D1FF;
background: linear-gradient(to right, #00D1FF 0%, #FF9900 69%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}
.skatecard{
    margin-left: 20;
    margin-top: 30
}
.homepagecard{
    margin-top:30;
    padding-left: 20;
}
.funcardtitle{
    margin-top:60;
}
.yellowcard{
    background-color: yellow;
    height: 700px;
}
.bowlingcard{
    background-color: #88ff00 ;
    height: 700px;
}
.gokartcard{
    background-color: #FF9DF5 ;
    height: 700px;
}
.skatefuncard{
    background-color: #0098da ;
    height: 700px;
}
.duckpincard{
    background-color: #FFB800 ;
    height: 700px;
}
.wildcard{
    background-color: #e0c7ff;
}
.superwildcard{
    background-color: #FF4D4D;
}
.turbowildcard{
    background-color: #00bd9d;
}
.homeimg1{
    width:306px;
    height:388px;
}
.homeimg2{
    width:400px;
    height:388px;
}
.funcards{
    margin-left: 40;
    margin-right: 40;
}
.card-title{
    font-weight:bold;
    font-size:xx-large;
    text-decoration: underline;
}
.roundof{
    text-align: left;
}
.funcardimg{
    width:400px;
    height: 600px;
}
.card-img-top{
    width: 500px;

}
.bday{
    margin-top: 60;
}
.ffccover{
    height: 700px;
    width: 2500px;
}
.bdaycontactword{
    background: #FF00E5;
background: linear-gradient(to right, #FF00E5 9%, #08CBFE 79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.funcards{
    margin-top: 80;
}
.funword {
    background: #FFFF00;
    background: linear-gradient(to right, #FFFF00 9%, #88FF00 18%, #FF9DF5 47%, #0098DA 69%, #FFB800 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 5%;
    margin-top: 50;
    margin-left: 50;
    text-align: center;
}
.funcardcard{
    height: 125px;
}
.wordcard{
    width:400px;
    margin-left: 110;
}
/* .nav{
background-color: red;
border-radius: 50px;
} */

.wildword{
    background: #CAA0FF;
background: linear-gradient(to right, #CAA0FF 25%, #FF4D4D 44%, #80FFD1 80%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    border-radius: 5%;
    margin-top: 50;
    margin-left: 50;
    text-align: center;
}
.img-thumbnail {
    width: 600px;
    height: 700px;
}
.bowlingpicture{
    width: 662px;
    height: 400px;
}
.bowlingpictures{
    width: 400px;
    height: 400px;
}
.navbar-brand {
    width: 790;
    height: 110;
}

